.body {
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
}

.wrapper {
  background-color: #f0efff;
  height: 100vh;
  display: flex;
  gap: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.current-time {
  position: fixed;
  top: 10px;
  right: 20px;
}
